default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost

development:
  <<: *default
  database: hosp_dev
  username: postgres
  password: postgres

test:
  <<: *default
  database: hosp_test
  username: postgres
  password: postgresdb

production:
  <<: *default
  database: hosp_production
  username: postgres
  password: postgresdb
