.form-group
  %label Email
  .input-group
    = ea.select_without_bootstrap :email_type, enum_to_options(EmailAddress.email_types, ea.object.email_type), {}, {class: 'form-control'}
    = ea.email_field_without_bootstrap :email, class: 'form-control'
